---
pageTitle: "404"
pageSubtitle: "Не туда попали"
---
<html lang="en">
	<head>
      <script src="src/index.js" type="module"></script>
      <link rel="stylesheet" href="index.sass">
      <title>
        {{pageTitle}}
      </title>
	</head>
	<body>
      <div class="Error404Page__wrap">
        <div class="Error404Page__item">
          <div class="Error404Page__title">
            {{pageTitle}}
          </div>
          <div class="Error404Page__subtitle">
            {{pageSubtitle}}
          </div>
          <div class="Error404Page__link">
            {{>button label="Click here" class="secondary" }}
            {{>button label="Or here" }}
            {{>a text="Sign in" address="src/pages/signInPage/signInPage.hbs"}}
          </div>
        </div>
      </div>
	</body>
</html>