---
pageTitle: "Main page"
pageSubtitle: "All pages list:"
---
<html lang="en">
	<head>
      <link rel="stylesheet" href="index.sass">
      <title>
        {{pageTitle}}
      </title>
	</head>
	<body>
      <div class="Error404Page__subtitle">
        {{pageSubtitle}}
      </div>
      <div class="Error404Page__link">
        {{>button label="Click here" class="secondary" }}
        {{>button label="Or here" }}
        {{>a text="Sign in" address="src/pages/signInPage/signUpPage.hbs"}}
        {{>a text="Error 404 page" address="/src/pages/error404Page/error404Page.hbs"}}
        {{>a text="Error 500 page" address="/src/pages/error500Page/error500Page.hbs"}}
      </div>
	</body>
</html>