---
pageTitle: "404"
pageSubtitle: "Не туда попали"
---
<html lang="en">
	<head>
		<script src="src/index.js" type="module"></script>
    <link rel="stylesheet" href="/src/pages/Error404Page/Error404Page.sass">
    <title>
      {{pageTitle}}
    </title>
	</head>
	<body>
      <div class="Error404Page__wrap">
        <div class="Error404Page__item">
          <div class="Error404Page__title">
            {{pageTitle}}
          </div>
          <div class="Error404Page__subtitle">
            {{pageSubtitle}}
          </div>
          <div class="Error404Page__link">
            {{>button label="Кликай сюда" }}
            {{>button label="Или сюда" }}
            {{>a text="Ссылка на страницу 404" address="404"}}
          </div>
        </div>
      </div>
	</body>
</html>