---
pageTitle: "Dialogs"
---
<html lang="en">
<head>
  <link rel="stylesheet" href="/index.sass">
  <title>
    {{title}}
  </title>
</head>
<body>
<main class="dialogs-page">
  <div class="popup">
    {{>title text="Nothing to see here"}}
    {{>a class="dialogs-page__back" address="/index.hbs" text="Go back"}}
  </div>
</main>
</body>
</html>