---
pageTitle: "Profile"
---
<html lang="en">
<head>
  <link rel="stylesheet" href="/index.sass">
  <title>
    {{title}}
  </title>
</head>
<body>
<main class="profile-page">
  {{>avatar src="/src/static/img/avatarPlaceholder.jpg"}}
  {{>title text="User Name"}}
  <div>
    {{>formInput label="Email" name="email" type="text" value="email@gmail.com" readonly=true}}
    {{>formInput label="Login" name="login" type="text" value="unique3" readonly=true}}
    {{>formInput label="First name" name="first_name" type="text" value="User" readonly=true}}
    {{>formInput label="Second name" name="second_name" type="text" value="Name" readonly=true}}
    {{>formInput label="Display name" name="display_name" type="text" value="Lord" readonly=true}}
    {{>formInput label="Phone" name="phone" type="tel" value="+77878782348" readonly=true}}
  </div>
  <div class="profile-page__links">
    {{>a class="profile-page__link" address="#" text="Edit profile info"}}
    {{>a
      class="profile-page__link"
      address="/src/pages/changePasswordPage/changePasswordPage.hbs"
      text="Change password"
    }}
    {{>a class="profile-page__link_exit" address="/index.hbs" text="Close"}}
  </div>
</main>
</body>
</html>