---
pageTitle: "Error 500"
title: "500"
subTitle: "we are already fixing"
---
<html lang="en">

<head>
  <link rel="stylesheet" href="/index.sass">
  <title>
    {{title}}
  </title>
</head>

<body>
  <div class="error-500-page">
    <div class="container">
      <div class="error-500-page__body">
        <div class="error-500-page__title">
          {{title}}
        </div>
        <div class="error-500-page__subtitle">
          {{subTitle}}
        </div>
        <div class="error-500-page__link">
          {{>a href="#" text="back to chats"}}
        </div>
      </div>
    </div>
  </div>
</body>

</html>