<div class="avatar">
  <img
    id="avatar"
    class="avatar__image"
    src="{{src}}"
    alt="/src/pages/changePasswordPage/changePasswordPage.hbs"
  >
  <div class="avatar__change">Change photo</div>
</div>
