---
pageTitle: "Change password"
---
<html lang="en">
<head>
  <link rel="stylesheet" href="/index.sass">
  <title>
    {{pageTitle}}
  </title>
</head>
<body>
<main class="change-password-page">
  {{>title text="Password change"}}
  <div>
    {{>formInput label="Old password" name="oldPassword" type="password"}}
    {{>formInput label="New password" name="newPassword" type="password"}}
    {{>formInput label="Repeat new password" name="newPassword" type="password"}}
  </div>
  <div class="profile-page__links">
    {{>a class="change-password-page__cancel" address="/src/pages/profilePage/profilePage.hbs" text="Cancel"}}
  </div>
</main>
</body>
</html>