---
pageTitle: "404"
pageSubtitle: "Не туда попали"
---
<html lang="en">
<head>
  <title>
    Sign in
  </title>
</head>
<body>
<div class="Error404Page__wrap">
  <div class="Error404Page__item">
    <div class="Error404Page__link">
      {{>button label="Click here" class="secondary" }}
      {{>a text="Sign irn" address="src/pagres/"}}
    </div>
  </div>
</div>
</body>
</html>