---
pageTitle: "Sign in"
---
<html lang="en">
<head>
  <link rel="stylesheet" href="/index.sass">
  <title>
    {{title}}
  </title>
</head>
<body>
  <div>
    {{>button label="Don't click here please" class="secondary" }}
    {{>a text="Home page" address="/"}}
  </div>
</body>
</html>